$accentColor = #1ed2f4
$textColor = #f4f5f6
$borderColor = black
$codeBgColor = #282c34
$arrowBgColor = #ccc
$backgroundColor = #2b2b3a

body, .theme-container, .navbar, .sidebar, .links 
  background-color: $backgroundColor !important

.search-box input
  background-color: #444456

.hero img 
  max-height: 400px !important

.suggestions 
 background-color: $backgroundColor !important

.suggestion
  &.focused
    background-color: #444456 !important


  


  