@media screen and (max-width: 1245px){
  .app-heading-background h1{
    font-size: 100px;
  }

  .app-heading-background p{
    font-size: 25px;
    padding-bottom: 80px;
    padding-top: 60px;
  } 
}

@media screen and (max-width: 1155px){
  .app-heading-background h1{
    font-size: 80px;
  }

  .app-heading-background p{
    font-size: 23px;
    padding-bottom: 60px;
    padding-top: 40px;
  } 

  .button-get-started{
    width: 280px;
  }
}

@media screen and (max-width: 1069px){
  .button-get-started{
    width: 260px;
  }
}

@media screen and (max-width: 1030px){
  .button-get-started{
    width: 260px;
  }

  .button-github{
    width: 134px;
  }
}

@media screen and (max-width: 991px){
  .app-heading-background h1{
    font-size: 110px;
    text-align: center;
  }

  .app-heading-background p{
    font-size: 30px;
    padding-bottom: 60px;
    padding-top: 40px;
    text-align: center;
  }
  .app-button{
    text-align: center !important;
  }
}