html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Shared-style-section */

.app-padding {
  padding-right: 40px;
  padding-left: 40px;
}

/* Header-navbar section */

.app-navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.30);
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 10;
}

.app-navbar a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  margin-top: 6px;
}

/* Heading section */

.app-heading-background {
  background: linear-gradient(#DB1B7B, #4C238B);
  min-height: 100%;
}

.app-heading-background h1 {
  color: #FFFFFF;
  font-size: 110px;
  font-weight: lighter;
  font-family: 'Poiret One', cursive;
}

.app-heading-background p {
  color: #E4E4E4;
  font-size: 30px;
  font-weight: lighter;
  padding-bottom: 100px;
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
}

.button-get-started {
  background-color: #CB5151;
  border: none;
  font-size: 30px;
  font-family: 'Poiret One', cursive;
  color: #FFFFFF;
  font-weight: lighter;
  width: 320px;
  height: 60px;
  text-decoration: none;
  border-radius: 40px;
}

.button-get-started:hover {
  background: #E24848;
}

.button-github {
  margin-left: 18px;
  background-color: transparent;
  border-width: 2px;
  border-color: #CB5151;
  width: 154px;
  height: 60px;
  text-decoration: none;
  border-radius: 40px;
}

.button-github:hover {
  border-color: #E24848;
}

.github-logo-white {
  width: 44px;
  height: 44px;
}

.main-logo {
  max-height: 800px;
  max-width: 800px;
}

/* Features section */

.app-features-background {
  background-color: #ffffff;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-features-background h2 {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 100px;
  color: #363636;
  text-align: center;
  width: 100%;
  font-family: 'Poiret One', cursive;
}

.app-features-imgs img{
  width: 200px !important;
  height: 200px !important;
}

.app-features-background p{
  color: #8C8C8C;
  font-size: 20px;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
}

.app-features-background h3 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 60px;
  color: #6C6C6C;
  text-align: center;
  width: 100%;
  font-family: 'Poiret One', cursive;
}

.app-languages{
  padding-bottom:40px;
}

.app-languages img{
  width: 125px;
  height: 125px;
}

/* Get-Started section */

.app-getstarted-background {
  background-color: #363636;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-getstarted-background h2 {
  padding-top: 20px;
  font-size: 100px;
  color: #CACACA;
  text-align: center;
  width: 100%;
  font-family: 'Poiret One', cursive;
}

.app-getstarted-background p{
  font-size: 30px;
  color: #A8A8A8;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 10px;
}

.button-get-started2 {
  background-color: #4CCFAC;
  border: none;
  font-size: 30px;
  font-family: 'Poiret One', cursive;
  color: #FFFFFF;
  font-weight: lighter;
  width: 320px;
  height: 60px;
  text-decoration: none;
  border-radius: 40px;
}

.button-get-started-2{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Footer section */
.app-footer-background{
  background-color: #E1E1E1;
}

.app-footer-background p{
  color:#6C6C6C;
  font-size: 20px;
}

.app-footer-background img{
  width: 40px;
  height: 40px;
  padding-bottom: 10px;
}

.footer-padding{
  padding-top: 10px;
  padding-bottom: 10px;
}
