html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Shared-style-section */
.app-padding{
  padding-right: 30px;
  padding-left: 30px;
}

/* Header-navbar section */
.app-navbar{
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.30);
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 10;
}

.app-navbar a{
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
}

.logo-white{
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

/* Heading section */
.app-heading-background{
  background:
  linear-gradient(#DB1B7B,#4C238B);
  height: 100%;
}

.app-heading-background h1{
  color: #FFFFFF;
  font-size: 100px;
  font-weight: lighter;
  width: 100%;
}

.app-heading-background p{
  color: #E4E4E4;
  font-size: 28px;
  padding-top: 30px;
  font-weight:lighter;
  padding-bottom: 30px;
}

.button-get-started{
  background-color: #CB5151;
  border: none;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: lighter;
  width: 320px;
  height: 60px;
  text-decoration: none;
  border-radius: 40px;
}

.button-get-started:hover{
  background:#E24848;
}

.button-github{
  margin-left: 18px;
  background-color: transparent;
  border-width: 2px;
  border-color: #CB5151;
  width: 154px;
  height: 60px;
  text-decoration: none;
  border-radius: 40px;
}

.button-github:hover{
  border-color:#E24848;
}

.github-logo-white{
  width: 44px;
  height: 44px;
}


.main-logo{
  height: 700px;
  width: 700px;
}

/* Features section */
.app-features-background{
  background-color: #ffffff;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-features-background h2{
  font-size: 50px;
  color: #363636;
  text-align: center;
  width:100%;
}

/* Get-Started section */
.app-getstarted-background{
  background-color: #363636;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-getstarted-background h2{
  font-size: 50px;
  color: #CACACA;
  text-align: center;
  width:100%;
}
